*{
	margin:0px;
	padding:0px;
}

html, body{
	width:100%;
	height:100%;
	background-color:#333;
	color:white;
	font-family:Arial;
	text-shadow:1px 1px 0px rgba(0,0,0,0.4), -1px -1px 0px rgba(128,128,128,0.1);
}

h1{
	color:#bbffbb;
	margin-bottom:15px;
}

#wrapper{
	position:absolute;
	top:10px;
	left:0;
	right:0;
	margin:auto;
	padding:30px;
	width:calc(100% - 160px);
	background-color:#999;
	border-radius:8px;
	color:#ffe;
	border:2px solid white;
	margin-bottom:10px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.4), inset 1px 1px 3px rgba(0,0,0,0.4);
}

#boxes{
	margin-top:15px;
	position:relative;
	width:100%;
	display:block;
	height:420px;
	border-radius:6px;
	border:2px solid white;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2), inset 1px 1px 1px rgba(0,0,0,0.2);
}

#actions, #result{
	margin-top:15px;
	position:relative;
	width:100%;
	display:block;
	height:60px;
}

#result{
	height:80px;
	border-radius:6px;
	border:2px solid white;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2), inset 1px 1px 1px rgba(0,0,0,0.2);
}

#selectedClasses, #availableClasses{
	margin-top:35px;
	position:relative;
	width:calc(50% - 72px);
	display:block;
	height:355px;
	margin-left:30px;
	border-radius:4px;
	border:2px solid white;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2), inset 1px 1px 1px rgba(0,0,0,0.2);
	color:#222;
	text-shadow:none;
	padding:6px;
	background-color:white;
	overflow:auto;
}

#availableClasses{
	float:left;
}

#selectedClasses{
	float:right;
	right:30px;
}

#availableLabel{
	position:absolute;
	top:15px;
	left:30px;
}

#selectedLabel{
	position:absolute;
	top:15px;
	left:50%;
	padding-left:27px;
}

.button{
	background-color: #99aaff;
	padding:14px;
	padding-top:9px;
	padding-bottom:8px;
	color:white;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2), inset 1px 1px 5px rgba(255,255,255,0.4), inset -1px -1px 3px rgba(0,0,0,0.3);
	font-weight:bold;
	text-align:center;
	float:left;
	margin-top:10px;
	margin-left:15px;
	border:2px solid white;
	border-radius: 8px;
	cursor:pointer;
}

.button:hover{
	background-color:#bbccff;
}

.module{
	display:block;
	width:calc(100% - 20px);
	padding:5px;
	padding-left: 12px;
	padding-right:8px;
	position: relative;
	clear: both;
	cursor:pointer;
}

.module.expended{
	cursor:default;
}

.moduleName{
	padding:2px;
	font-size:16px;
	font-weight:bold;
	color:#445;
}

.modulePush{
	display: block;
	float: right;
	border: 2px solid #888;
	border-radius: 8px;
	padding: 8px;
	font-size: 24px;
	font-weight: bold;
	margin-top: -10px;
	margin-right: 10px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2), inset 1px 1px 5px rgba(255,255,255,0.4), inset -1px -1px 3px rgba(0,0,0,0.3);
	text-shadow:-1px -1px 0px rgba(0,0,0,0.3) 1px 1px 0px rgba(255,255,255, 0.6);
	cursor: pointer;
}

.pushLeft:hover{
	background-color:#ccffcc;
}

.pushLeft{
	background-color: #bbffbb;
	color:#454;
	padding-left: 14px;
	padding-right: 12px;
}

.pushRight{
	background-color: #ffbbbb;
	color:#544;
	padding-left: 12px;
	padding-right: 16px;
}

.moduleActions, .moduleInfo{display: none;}
.module.expended .moduleActions, .module.expended .moduleInfo{display: block;}

.moduleInfo{
	padding-left:12px;
	color:#666;
	padding-top:2px;
	font-size:14px;
	padding-bottom:5px;
}

#totalInfo{
	top:10px;
	left:500px;
	display:block;
	position:absolute;
	width:125px;
}

.infoLabel{
	float: left;
	color:#ddd;
	clear:right;
}

.infoValue{
	float:right;
	position: relative;
	display: block;
	clear:right;
	text-align: center;
	width:80px;
}

.label{color:#888;}

.dependencySeparator{
	height: 20px;
background-color: #eee;
padding: 8px;
font-size: 18px;
font-weight: bold;
padding-left: 20px;
color: red;
}

.module.odd{background-color:#eeeefe;}
.module.even{background-color:white;}

.module.odd:hover{background-color:#ddddef;}
.module.even:hover{background-color:#eee;}